/* ---------- Overall Styles ----------- */

/* ------------------ Fonts ------------------ */
@font-face {
  font-family: "NeverSayNever";
  src: url(../ttf/NeverSayNever.ttf);
}
body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}
input,
textarea,
select,
a.button {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}

.breadcrumb {
  font-size: 0.929em;
}


/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #707173;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #ffffff;
}
a {
  color: #418389;
}
a:hover,
a:focus {
  color: #418389;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.breadcrumb {
  background-color: #f5f5f5;
}
#page-wrapper,
#footer-wrapper {
  background: #ffffff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #418389;
}

/* ---------- Basic Layout Styles ----------- */

.breadcrumb {
  margin: 0 15px;
  padding: 8px 15px;
}

/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
}
#main-menu {
  font-size: 1.000em;
  margin: 0;
  padding: 0 15px;
}
#main-menu li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu a {
  background-color: #adbd7e;
  background: none repeat scroll 0 0 #96c147;
  padding:5px 30px 5px 15px;
  color:#ffffff;
  border-radius: 5px;
  text-decoration: none;
}

/* ---------- Layouts Module Styles ----------- */

.header__logo {
  float: left;
}
.header__region {
  float: right;
}

.block__title {
  display: none;
}

/*.sede-fieldset > .fieldset-wrapper {
	display: flex;
}

#block-system-user-menu a {
  background-color: #f5f5f5;
  color: #418389	
}*/


/* ---------- Pais / Regions View ----------- */
#sel-pais > select {
	width: 153px;
}
#sel-regions > select {
	width: 153px;
}

