/* ------------------ Fonts ------------------ */
@font-face {
  font-family: "NeverSayNever";
  src: url(../ttf/never_say_never/NeverSayNever.ttf);
}
body {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}
.vocabulary-directorio-verde {
  font-size: 16px;
}

/* ---------- Color Module Styles ----------- */
body {
  color: #707173;
}
h1 {
  color: #92b737;
}

a {
  color: #418389;
}

.region-header a {
  color: #92B737
}
/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
  float: right !important;
  margin-top: 20px;
}
#main-menu-links {
  margin: 0;
  padding: 0;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu-links a {
  background-color: #adbd7e;
  background: none repeat scroll 0 0 #96c147;
  padding:5px 30px 5px 15px;
  color:#ffffff;
  border-radius: 5px;
}

/* --------------- Overall wrappers ------------ */

.sede-fieldset > .fieldset-wrapper {
	display: flex;
}

#block-system-user-menu a {
  background-color: #f5f5f5;
  color: #418389	
}

/* --------------- Pais / Regions View ------------ */

#sel-pais > select {
	width: 153px;
}
#sel-regions > select {
	width: 153px;
}

/* --------------- Logo View ------------ */
#logo img {
  display: inline;
}

.block-welcome-username {
  margin-top: 5px;
}

/* --------------- Frontpage Eco View ------------ */
.imgeco {
    margin-left: auto;
    margin-right: auto;
}

/* --------------- Banners View ------------ */
.view-id-banners {
  font-size: 18px;
}
.view-id-banners img {
  border: 1px solid #96c147;
  max-width: 90%;
}

/* --------------- SubCategories View ------------ */
.view-ver-tax p{
    border-bottom: 2px solid #96C147;
    clear: both;
}
.view-ver-tax p span {
  background-color: #96C147;
  padding: 4px 10px;
  color: #fff;
  font-size:18px;
}
.subcategoria {
  padding-bottom: 7px;
}
.subcategoria img {
  margin-right: 10px;
  pointer-events: none;
  cursor: default;
}

/* --------------- Sedes View ------------ */

.resultados .media {
  background-color: #e8f6e3;
  padding: 15px;
  border: 1px solid #afdc99;
  position: relative;
  height: 120px;
}
.resultados .media.promo {
  background-color: #D7E7EA;
  border: 1px solid #AED6E2;
}
.resultados .promo div.subrayado {
  border-bottom: 1px solid #AED6E2;
  margin-top: 10px;
}
.resultados .logoempresa {
  
}
.prici {
  min-height: 155px;
}
.resultados .media-object {
    /*max-width: 125px;*/
    max-height: 90px;
    margin: 0 auto;
    position: relative;
    top: 5px;
    z-index: 3;
}
.resultados h1{
  padding-top: 0;
}
.resultados h2 {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  color: #496e32;
  font-size: 20px;
  padding: 5px;
}
.resultados .info {
  cursor: pointer;
  font-size: 16px;
  float: right;
  display: inline;
}
.resultados .info span {
  position: relative;
  top: 3px;
}
.resultados .ico_flecha {
  margin-left: 7px;
}
.resultados .media-bod p {
  margin-bottom: 5px;
}
.resultados .media-bod p.ult {
  margin-bottom: 0;
}
.resultados div.subrayado {
  border-bottom: 1px solid #afdc99;
}
.resultados .sede {
  color: #4d4d4d;
  font-size: 16px;
}
.resultados .ico {
  margin-right: 7px;
  position: relative;
  top: -1px;
}
.resultados .masinfo {
  display: none;
  height: auto;
}
.resultados .masinfo div:first-child {
  padding-top: 20px;
}
.resultados .masinfo div {
  margin-bottom: 0;
}
.resultados .masinfo .text-right{
  font-weight: bold;
}
/*.resultados #filters {
  padding: 20px 0 0 20px;
  margin-left: 15px;
}
.resultados #filters label {
  display: block;
  padding: 3px 0;
}
.resultados .checkbox{
  margin-bottom: 20px;
}
.resultados .checkbox label + label{
  margin-left: 20px;
}
.resultados .checkbox label.ppal{
  clear: both;
  font-weight: bold;
  color: #496e32;
  background-color: #F4F9F2;
}
.resultados .peques{
  display: none;
}
.resultados #boton{
  margin: 0 auto;
  width: 67px;
}
.resultados .enlacemapa{
  cursor: pointer;
}
.resultados .plano{
  background-color: #f5f5f5;
    border-radius: 9px;
    color: #383838;
    display: none;
    font-weight: bold;
    position: fixed;
    text-align: left;
    z-index: 1002;
}
.resultados .mapagrande {
  padding:15px;
}
.resultados .banda{
  background-color: #e8f6e3;
    border-bottom: 2px solid #afdc99;
    border-radius: 9px 9px 0 0;
    height: 40px;
    padding: 10px;
}
.resultados .banda .logo{
  left: -15px;
    padding: 0;
    position: relative;
    top: -5px;
    width: 100px;
}
.resultados .banda .text-center{
  color: #496e32;
}
.resultados .banda .glyphicon{
  padding: 0;
  cursor: pointer;
}*/
/* responsive */
@media (max-width: 1199px){
  .resultados .filtros{
    margin-top: 30px;
    clear: both;
  }
  .resultados #filters{
    margin-left: 0;
  }
  .resultados .checkbox label + label {
      margin-left: 0;
  }
  .resultados #boton button{
    margin-top: 10px;
  }
  .resultados .peques{
    display: none;
  }
}
@media (max-width: 991px){
  .resultados .media-object {
    top: 12px;
    height: 100px;
  }
  .resultados #simplesearch{
    clear: both;
  }
  .resultados #simplesearch div{
    margin-top: 15px;
  }
}
@media (max-width: 767px){
  .resultados .info {
      cursor: pointer;
      float: right;
      margin-top: 20px;
      position: static;
  }
  .resultados h2 {
      float: left;
  }
  .resultados .media-bod .text-right{
    text-align: left;
  }
  .resultados .info.url,
  .resultados .imgmapa,
  .resultados .media-bod h2 {
    display:none;
  }
  .resultados .media-object {
      height: 50px;
      top: 0;
  }
  .resultados .peques{
    display: block;
  }
  .resultados .sede {
    margin-top: 15px;
  }
  .resultados .media-bod p.ult {
      margin-bottom: 5px;
  }
  .resultados .inform p:not(.sede){
    font-size: 15px;
  }
}
@media (max-width: 440px){
  .resultados .banda div:first-child{
    display: none;
  }
  .resultados .banda .text-center {
    text-align: left;
  }
}


/* --------------- Directorio Verde ------------ */
.view-despierta-directorio-verde {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.fdoverde {
  background: linear-gradient(#DEFCA6, #4F7509);
  padding: 5px;
  border-radius: 5px;
  height: 197px;
  padding: 10px;
  text-align: center;
  /*max-width: 223px;*/
  margin: 0 20px 20px 0;
}
.fdoverde a {
  text-decoration: none;
}
.imgcateg {
  overflow: hidden;
  border-radius: 5px;
  height: 162px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fdoverde a img{
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    width: 350px;
}
.fdoverde a:hover img{
    width: 375px;
    top: -4px;
    left: -5px;
}

/*@media (max-width: 1199px){
  .fdoverde{
    height: 165px;
  }
}
@media (max-width: 991px){
  .fdoverde{
    height: 132px;
  }
}
@media (max-width: 767px){
  .fdoverde{
    height: auto;
    margin: 0 auto;
    max-width: 223px;
    }
 .directorio_verde .col-xs-12.cont {
    width: 33%;
  }

}
@media (max-width: 540px){
  .directorio_verde .col-xs-12.cont {
      width: 100%;
  }
}*/



/* --------------- Redes View ------------ */

.redes{
  background-image: url('../images/redes.jpg');
  display:inline-block;
  *display:inline;
}
#facebook{
  background-position: 0 30px;
  height: 30px;
  width: 29px;
  margin-right: 10px;
}
#facebook:hover{
  background-position: 0 0;
}
#twitter{
  background-position: -33px 30px;
  height: 30px;
  width: 29px;
  margin-right: 10px;
}
#twitter:hover{
  background-position: -33px 0px;
}
#youtube{
  background-position: -64px 30px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
#youtube:hover{
  background-position: -64px 0px;
}
#linkedin{
  background-position: -95px 30px;
  height: 30px;
  width: 31px;
  margin-right: 10px;  
}
#rsi{
  background-position: -128px 30px;
  height: 30px;
  width: 29px;
}
#rsi:hover{
  background-position: -128px 0px;
}
#linkedin:hover{
  background-position: -95px 0px;
}

/* --------------- Copyright View ------------ */
.derechos, .aviso, .aviso a {
  color: #8fa49d;
  font-size: 12px;
}
.derechos{
  margin-bottom: 10px;
}

/* --------------- CO2 Neutral View ------------ */
.co2-neutral img {
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}


/* --------------- Footer Image ------------ */
.imgfooter {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px
}

