/* ------------------ Fonts ------------------ */
@font-face {
  font-family: "NeverSayNever";
  src: url(../ttf/never_say_never/NeverSayNever.ttf);
}
body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}
input,
textarea,
select,
a.button {
  font-family: 'NeverSayNever','helvetica_reg',Arial,sans-serif;
}

/* ---------- Color Module Styles ----------- */
h1 {
  color: #92b737;
}

.region-header a {
  color: #92B737
}
/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
  float: right !important;
  margin-bottom: 20px;  
}
#main-menu-links {
  margin: 0;
  padding: 0 15px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu-links a {
  background-color: #adbd7e;
  background: none repeat scroll 0 0 #96c147;
  padding:5px 30px 5px 15px;
  color:#ffffff;
  border-radius: 5px;
}

/* --------------- Overall wrappers ------------ */

.sede-fieldset > .fieldset-wrapper {
	display: flex;
}

#block-system-user-menu a {
  background-color: #f5f5f5;
  color: #418389	
}


/* --------------- Pais / Regions View ------------ */

#sel-pais > select {
	width: 153px;
}
#sel-regions > select {
	width: 153px;
}

/* --------------- Redes View ------------ */

.redes{
  background-image: url('../images/redes.jpg');
  display:inline-block;
  *display:inline;
}
#facebook{
  background-position: 0 30px;
  height: 30px;
  width: 29px;
  margin-right: 10px;
}
#facebook:hover{
  background-position: 0 0;
}
#twitter{
  background-position: -33px 30px;
  height: 30px;
  width: 29px;
  margin-right: 10px;
}
#twitter:hover{
  background-position: -33px 0px;
}
#youtube{
  background-position: -64px 30px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
#youtube:hover{
  background-position: -64px 0px;
}
#linkedin{
  background-position: -95px 30px;
  height: 30px;
  width: 31px;
  margin-right: 10px;  
}
#rsi{
  background-position: -128px 30px;
  height: 30px;
  width: 29px;
}
#rsi:hover{
  background-position: -128px 0px;
}
#linkedin:hover{
  background-position: -95px 0px;
}

/* --------------- Copyright View ------------ */
.derechos, .aviso, .aviso a {
  color: #8fa49d;
  font-size: 12px;
}
.derechos{
  margin-bottom: 10px;
}